body, a, a:hover, a:active {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

body {
    background-image: url("/assets/images/papyrus.png");
    background-repeat: repeat;
}

main {
    background: #fff;
    border: 1px solid #ddd;
    padding: 2% 0;
    max-width: 960px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
}

.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5%;
}

.container {    
    max-width: 960px; 
    padding: 0;
}

/* navbar */
.navbar{
    margin: 0;
    padding: 0;
}

.navbar-brand {
    background: #4aaaa5;
    color: #fff;
    padding: 15px;
    margin: 0;
}

.page-title {
    padding-bottom: 3%;
    margin-bottom: 3%;
    border-bottom: 2px solid #ccc;
}

/* controls margins for <main> */
.lazybox {
    margin: 3%;
}

/* portfolio */
.gallery {
    margin-bottom: 15%;
}

/* contact */
.btn {
    background: #4aaaa5;
}

/* footer */
.footer {
    background-color: #666666;
    color: #fff;
}

.footer-text {
    padding: 3em 0 0 0;
    line-height: 0;
    border-top: 10px solid #4aaaa5;
}

