body {
    text-align: center;
    line-height: 1.25;
}

div {
    margin: 20px 0 0 0;
    line-height: 30;
}

.clear {
    overflow: auto;
}

#nav {
    background-color: gray;
}

#left {
    background-color: blue;
    width: 50%;
    float: left;
}

#right {
    background-color: red;
    width: 25%;
    float: right;
}

#footer {
    background: green;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}